In [2]:
import pandas as pd
import numpy as np

In [10]:
A = pd.DataFrame({
    'A': [[1],[2],[3],[4],[5]],
    'B': [1,2,3,4,5]
})
A['A'].shape

(5,)

In [11]:
B = pd.DataFrame({
    'A': [[11,12],[21,22],[31,32],[41,42],[51,52]],
    'B': [1,2,3,4,5]
})
B['A'].shape

(5,)

In [5]:
C = pd.concat([A,B], axis = 1)
C

     A  B         A  B
0  [1]  1  [11, 12]  1
1  [2]  2  [21, 22]  2
2  [3]  3  [31, 32]  3
3  [4]  4  [41, 42]  4
4  [5]  5  [51, 52]  5

In [6]:
C.columns = ["A","B","C","D"]
C

     A  B         C  D
0  [1]  1  [11, 12]  1
1  [2]  2  [21, 22]  2
2  [3]  3  [31, 32]  3
3  [4]  4  [41, 42]  4
4  [5]  5  [51, 52]  5

In [7]:
C = C[["A","C","D"]]
C

     A         C  D
0  [1]  [11, 12]  1
1  [2]  [21, 22]  2
2  [3]  [31, 32]  3
3  [4]  [41, 42]  4
4  [5]  [51, 52]  5

In [13]:
C['F'] = C['A']+C['C']
C['F']

0    [1, 11, 12]
1    [2, 21, 22]
2    [3, 31, 32]
3    [4, 41, 42]
4    [5, 51, 52]
Name: F, dtype: object

In [29]:
A =  pd.Series([[11],[12]])
A.shape

(2,)

In [28]:
B =  pd.Series([[21,22],[22,23]])
B.shape

(2,)

In [27]:
A + B

0    [11, 21, 22]
1    [12, 22, 23]
dtype: object